1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [13]:
#Solution:

test1="This is a test of the emergency text system"
file=open("test.txt","w")
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [20]:
#Solution:

file1=open("test.txt","r")
test2=file1.read()
file1.close()

In [21]:
test1

'This is a test of the emergency text system'

In [22]:
test2

'This is a test of the emergency text system'

here test1 and test2 both are same

3. Create a CSV file called books.csv by using these lines:

In [35]:
#Solution:
import csv
with open("books.csv","w",newline="") as file:
    writer=csv.writer(file)
    writer.writerows([["title","author","year"],
                 ["The Weirdstone of Brisingamen","Alan Garner",1960],
                ["Perdido Street Station","China Miéville",2000],
                ["Thud!","Terry Pratchett",2005],
                ["The Spellman Files","Lisa Lutz",2007],
                ["Small Gods","Terry Pratchett",1992]])

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [ ]:
#Solution:
import sqlite3
connection= sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute('create table books_new(title varchar(20),author varchar(20), year int)')
connection.commit()

5. Read books.csv and insert its data into the book table.

In [ ]:
#Solution:
import pandas as pd

df = pd.read_csv(r'‪E:\books.csv',encoding='unicode_escape')
df.to_sql('books', conn, if_exists='append', index = False)

6. Select and print the title column from the book table in alphabetical order

In [ ]:
#Solution:

cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

7. From the book table, select and print all columns in the order of publication.

In [ ]:
#Solution:

cursor.execute('select title, author,year from books order by year')


df1 = pd.DataFrame(c.fetchall(), columns=['title','author','year'])

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [52]:
#Solution:

import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [53]:
#Solution:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\programdata\anaconda3\lib\site-packages (from redis) (21.0)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [ ]:
#solution:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it

In [ ]:
conn.hincrby('test','count', 3)